
#page-landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    margin: auto;
    width: 90%;
}

.location, h1, .visit p {
    height: 16vh;
    margin: 20px;
}

.locate-p {
    margin-top: 10px;
}

.visit a {
    width: 8rem;
    height: 8rem;
    background: #ffd666;
    border: none;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.visit a:hover{
    transition: 500ms;
    background: #96feff;
}

#logo {
    animation-delay: 50ms;
}

.location {
    animation-delay: 150ms;
}

h1 {
    animation-delay: 350ms;
}

.visit p {
    animation-delay: 500ms;
}

.visit a {
    animation-delay: 700ms;
}